html {
  font-size: 10px;
  background: url(bgmusic.gif) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 88vh;
  align-items: flex-end;
  justify-content: center;
}

.key {
  border: .4rem solid #fde2f9;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .08s ease;
  width: 10rem;
  text-align: center;
  color: #fde2f9;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #ff00ea;
  box-shadow: 0 0 1rem #ff00ea;
  background-color: white;
  color: #ff00ea;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
  background: #ff00ea;
  display: block;
}
